[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypitunatsinghuaedu"

[packages]
numpy = { index = "pypitunatsinghuaedu"}
pandas = { index = "pypitunatsinghuaedu"}
nbformat = { index = "pypitunatsinghuaedu"}
openpyxl = { index = "pypitunatsinghuaedu"}
sympy = { index = "pypitunatsinghuaedu"}
matplotlib = { index = "pypitunatsinghuaedu"}
jupyter = { index = "pypitunatsinghuaedu"}
scikit-learn = "*"
pyaudio = "*"
wave = "*"
pydub = "*"
ffmpeg = "*"
librosa = "*"
pyo = "*"
opencv-python = "*"
keyboard = "*"
jupyter-contrib-nbextensions = "*"
jupyter-nbextensions-configurator = "*"

[dev-packages]

[requires]
python_version = "3.8"
